body {
    margin: 0 auto;
    max-width: 50%;
}

h1 {
    color: green;
    margin-left: 10px;
}

.logreg-container {
    display: flex;
    justify-content: space-around;
}

input {
    size: 100px;  
}

#login-section p {
    display: inline-block;
}

#reg-section {
    width: 850px;
}

#reg-section p {
    display: inline-block;
}

H2 {
    text-align: center;
}