<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Golf Trekker - Login</title>
</head>

<body>
    <div>
        <div id="header">
            <h2>GOLF TREKKER</h2>
            <button>Login</button>
        </div>
        <section>
            <h2>Welcome Back!</h2>

            <form action="/member_login" method="POST">
                {% csrf_token %}
                <p>Email: <input type="text" name="email"></p>
                <p>Password:<input type="password" name="password"></p>
                <button type="submit">Submit</button>
            </form>
        </section>
    </div>

    <div>
        {% for message in messages %}
        <li {% if message.tags %} class=="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </div>

</body>

</html>